<!DOCTYPE html>
<html lang="en">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>CS 1331 javac</title>
	<!-- Bootstrap -->
	<link href="{{ url_for('static', filename="css/bootstrap.min.css") }}" rel="stylesheet">
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="{{ url_for('static', filename="js/jquery-1.11.1.min.js") }}"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{{ url_for('static', filename="js/bootstrap.min.js") }}"></script>
</head>
<body style="padding-bottom: 70px">

<div class='container-fluid'>
	<div class="jumbotron" style="padding: 0.5em 0.6em;">
		<div class='text-center'>
			<h1>CS 1331 javac</h1>

			<p>
    			Compile your assignments online and get immediate helpful feedback!
			</p>
		</div>
	</div>

	<div class="row center-block" style="padding-top: 30px;">
		<div class="col-md-6 col-md-offset-3">
			<div class="text-center well">
				Follow these steps to upload your Java Files:
				<ol>
					<li>Put all of your .java files into one folder</li>
					<li>Zip up that folder (you should have a folder inside of a .zip folder)</li>
					<li>Submit the .zip folder below</li>
				</ol>
				<br><br>
				<form action="{{ url_for('process_java') }}" enctype="multipart/form-data" method=post class="form">
					<div class='section-1'>
						<div class="form-group">
							<input type="file" name="java">
						</div>
					</div>
					<button type="submit" id='section-5' class="btn btn-default btn-lg">
						Submit!
					</button>
				</form>
			</div>
		</div>
	</div>
</div>

</body>
</html>
